.contact-row
  padding : 40px 0
  text-align : center
  h3
    font-weight : 700
    font-family : 'Droid Sans', sans-serif
    font-size : 45px
    color : #2c3e50
    padding : 40px 0
  p
    font-weight : 700
    font-family : 'Droid Sans', sans-serif
    font-size : 26px
    color : #2c3e50

.contact-row-column
  text-align : left
  input[type="text"]
    border : 0
    border-bottom-width : 3px
    border-style : solid
    border-color : #2ecc71
    width : 99%
    outline : none
    padding : 20px 10px 5px 10px
    margin : 10px 0
    font-family : 'Droid Serif', serif
    font-weight : 400
    font-size : 26px
  .text
    text-align : left
    padding : 20px 0
    h4
      font-size : 16px
      font-weight : 700
      font-family : 'Droid Sans', sans-serif
      color : #2c3e50
    p a
      text-decoration : none
      color : #2c3e50
      &:hover
        color : #2ecc71
        transition : all 0.3s ease

.contact-row-column .text p, .contact-row-column .text small
  font-size : 20px
  font-weight : 400
  font-family : 'Droid Sans', sans-serif
  color : #2c3e50

.text2 textarea
  width : 99%
  margin : 10px 0
  border : 0
  border-bottom-width : 3px
  border-style : solid
  border-color : #2ecc71
  color : #000000
  outline : none
  margin-bottom : 25px
  height : 150px
  padding : 12px 10px
  font-size : 26px
  resize : none
  border-radius : 3px
  font-family : 'Droid Serif', serif
  font-weight : 400

.contact_btn
  text-align : left
  padding : 0 10px
  input[type="submit"]
    border : 0
    background : #2ecc71
    padding : 10px 20px
    color : #ffffff
    font-size : 18px
    border-radius : 15px
    outline : none
  input[type="submit"]:hover
    background : #2c3e50
    transition : all 0.3s ease