header
  position : relative
  height : 100vh
  padding : 40px 0 100px 0
  .navbar-default
    background-color: transparent
    border-color: transparent
    .navbar-nav>li>a
      font-size: 22px
      font-family: "Droid Sans", sans-serif
      color: rgb(255, 255, 255)
      line-height: 1.422
      text-align: center
  .navbar-brand
    padding: 0

#navbar-main
  &.affixed-top
    background: transparent
  &.affix
    background: #34495e
    top: 0
    left: 0
    right: 0
    z-index: 1000

.video_wrap
  position : absolute
  top : 0
  right : 0
  left : 0
  bottom : 0
  z-index : -1
  overflow : hidden
  video
    min-height : 100%
    min-width : 100%
    width : auto
    height : auto

.header-matter
  text-align : center
  padding : 190px 0
  position : relative
  h1
    font-weight : 700
    font-family : 'Droid Sans', sans-serif
    color : #ffffff
    font-size : 80px
    padding : 0 0 50px 0

.line
  position : absolute
  left : 45%
  top : 98.5%

a#v-exchange
  display : block
  text-decoration : none
  background : #2ecc71
  width : 60px
  height : 60px
  line-height : 60px
  border-radius : 50%
  font-size : 17px
  color : #ffffff
  margin : 10px auto
  font-weight : bold

.line p
  font-size : 30px
  padding : 0
  color : #ffffff
  font-weight : 400