h1.modal-head
  font-size: 45px
  font-family: "Droid Sans"
  color: rgb(44, 62, 80)
  font-weight: bold
  line-height: 0.695
  padding: 95px 0

.img-modal
  margin-bottom: 20px

.offset-block
  margin-bottom: 40px

.date-block, .category-block
  .header_block
    font: bold 26px/1.203 "Droid Sans"
    color: rgb(52, 73, 94)
    text-align: left
  .text_block
    font: 400 20px/1.664 "Droid Serif"
    color: rgb(44, 62, 80)
    text-align: left

.desc_block
  p
    font: 400 20px/1.664 "Droid Serif"
    color: rgb(44, 62, 80)
    text-align: left

a.link
  display : inline-block
  padding : 5px 24px
  text-decoration : none
  background : #0fcf8c
  color: rgb(255, 255, 255)
  font: 400 21px/1.585 'Droid Serif', sans-serif
  border-radius : 22px