.portfolio
  text-align : center

.portfolio-top
  text-align : center
  h3
    font-weight : 700
    font-family : 'Droid Sans', sans-serif
    font-size : 45px
    padding : 40px 0

.b-link-stripe
  position : relativ
  display : inline-block
  vertical-align : top
  font-family : 'Open Sans', sans-serif
  font-weight : 300
  overflow : hidden
  .b-wrapper
    position : absolute
    width : 100%
    height : 100%
    top : 0
    left : 0
    text-align : center
    color : #ffffff
    overflow : hidden
  .b-line
    position : absolute
    top : 0
    bottom : 0
    width : 20%
    background : rgba(15, 207, 140, 0.9)
    transition : all 0.5s linear
    opacity : 0
    visibility : hidden

.b-animate-go
  text-decoration : none

.b-animate
  transition : all 0.5s
  visibility : hidden
  font-size : 1.1em
  font-weight : 700
  img
    margin-top : 16%
    display : -webkit-inline-box

.b-animate-go:hover .b-animate
  visibility : visible

.b-from-left
  position : relative
  left : -100%

.b-animate-go:hover .b-from-left
  left : 0

span.m_4
  font-size : 14px
  font-weight : 400

p.m_5
  margin : 2% auto 5%
  width : 70%
  color : #283a47
  font-size : 1.1em
  font-weight : 600
  line-height : 1.5em
  text-align : center

ul#filters
  padding : 0

.team
  background : #ffffff
  padding : 0 0 9% 0

.col_1_of_4:first-child
  margin-left : 0

.span_1_of_4
  width : 22.8%

.col_1_of_4
  display : block
  float : left
  margin : 1% 0 1% 2.6%
  background : #ffffff

.b-link-stripe:hover .b-line
  visibility : visible

.b-link-stripe .b-line1
  left : 0

.b-link-stripe .b-line2
  left : 20%
  transition-delay : 0.1s !important

.b-link-stripe .b-line3
  left : 40%
  transition-delay : 0.2s !important

.b-link-stripe .b-line4
  left : 60%
  transition-delay : 0.3s !important

.b-link-stripe .b-line5
  left : 80%
  transition-delay : 0.4s !important

.b-link-stripe:hover .b-line
  opacity : 1

#filters
  margin : 3% 0
  padding : 0
  list-style : none
  text-align : center
  li
    display : -webkit-inline-box
    span
      display : block
      padding : 5px 24px
      text-decoration : none
      color : rgba(31, 49, 63, 0.7)
      cursor : pointer
      font-size : 28px
      font-weight : 400
      font-family : 'Droid Sans', sans-serif
      &.active
        background : #0fcf8c
        color : #ffffff
        border-radius : 22px
        -webkit-border-radius : 22px
        -moz-border-radius : 22px
        -o-border-radius : 22px

#portfoliolist .portfolio
  -webkit-box-sizing : border-box
  -moz-box-sizing : border-box
  -o-box-sizing : border-box
  width : 32%
  display : none
  float : left
  overflow : hidden

div#portfoliolist
  padding : 40px 0

.portfolio-wrapper
  overflow : hidden
  position : relative !important
  cursor : pointer

.portfolio
  img
    max-width : 100%
    transition : all 300ms !important
  .label
    position : absolute
    width : 100%
    height : 40px
    bottom : -40px
  .label-bg
    background : #22b4b8
    width : 100%
    height : 100%
    position : absolute
    top : 0
    left : 0
  .label-text
    color : #ffffff
    position : relative
    z-index : 500
    padding : 5px 8px
  .text-category
    display : block
    font-size : 12px
    text-transform : uppercase

.container:after
  content : "\0020"
  display : block
  height : 0
  clear : both
  visibility : hidden

.clearfix:before,
.clearfix:after,
.row:before,
.row:after
  content : '\0020'
  display : block
  overflow : hidden
  visibility : hidden
  width : 0
  height : 0

.row:after,
.clearfix:after
  clear : both

.row,
.clearfix
  zoom : 1

.clear
  clear : both
  display : block
  overflow : hidden
  visibility : hidden
  width : 0
  height : 0