@media (max-width : 1024px)
  .header
    padding : 40px 0 100px 0

  .header-matter h1
    font-size : 50px
    padding : 0 0 50px 0

  .line
    top : 102.5%

  .about-row-column p
    padding : 10px 37px

  .team-row-column
    padding : 0 100px

  ul.social
    padding : 0

  .header-matter
    text-align : center
    padding : 80px 0

  .line p
    font-size : 18px
    padding : 17px 0 0 0

  .about-para h3, .portfolio-top h3, .team-row h3, .contact-row h3
    font-size : 38px

  .about-para p
    font-size : 22px

  #filters li span
    font-size : 23px