@media (max-width : 640px)
  .header
    padding : 20px 0 60px 0

  .header-matter h1
    font-size : 32px
    padding : 0 0 50px 0

  .line
    top : 85.5%

  .about-row-column p
    padding : 10px 37px

  .team-row-column
  ul.social
    padding : 0

  .nav
    right : 10px

  #filters li span
    font-size : 20px

  .about-para h3, .portfolio-top h3, .team-row h3, .contact-row h3
    font-size : 31px

  .header-matter
    padding : 0