@media screen and (min-width: 320px) and (max-width: 480px)
  header
    background: url(../img/bg.jpg) no-repeat 0 0
    background-size: cover
    padding : 10px 0 50px 0

  .video_wrap
    display: none
    video
      display: none

  .header-matter h1
    font-size : 18px
    padding : 0 10px 30px 10px

  .line
    left : 36%
    top : 94%

  .about-row-column p
    padding : 10px 0

  .team-row-column
    padding : 0 100px

  ul.social
    padding : 0

  .menu ul
    margin : 20px 0 0 0

  .line p
    padding : 13px 0 0 0
    font-size : 16px

  .header-matter
  .about-para p
    font-size : 16px
    padding : 0 10px

  .nav
    right : 10px

  .contact-row p
    font-size : 20px

  .team-row-column
    padding : 0 10px

  ul.social li
    margin : 0 10px 0 0

  #filters li span
    font-size : 18px
    display : block
    padding : 5px 11px

  .about-para h3
    font-size : 30px

  .about
    padding : 0 0

  .about-para
    padding : 20px 0 10px 0

  .portfolio-top h3
    font-size : 30px
    padding : 20px 0

  .team-row h3
    font-size : 30px

  .ourteam
    padding : 0 0

  .contact-row h3
    font-size : 32px
    padding : 0 0

  div#portfoliolist
    padding : 10px 0

  .contact-row-column input[type="text"]
    font-size : 18px

  .text2 textarea
    font-size : 18px

  .about-row
    padding : 10px 0 20px 0

  .menu li a
    font-size : 14px

  .team-row-column img
    display : inline
    width : 50%

  .team-row-column p
    font-size : 14px
    line-height : 26px

  .team-row-column h4 a
    font-size : 22px

  .team-row-column h4
    margin : 15px 0 10px 0