@media (max-width : 800px)
  .header-matter h1
    font-size : 40px
    padding : 0 0 50px 0

  .header
    padding : 20px 0 40px 0

  .line
    top : 81%

  .about-para p
    font-size : 16px
    padding : 0 0

  .about-row-column p
    padding : 10px 100px

  .contact-row-column .text
    padding : 20px 20px

  .about-row-column i.icon1
    width : 120px
    height : 120px
    background : url(../img/img-resources.png) no-repeat 0 0
    display : inline-block
    background-size : 300%

  .about-row-column i.icon2
    width : 120px
    height : 120px
    background : url(../img/img-resources.png) no-repeat -119px 0
    display : inline-block
    background-size : 300%

  .about-row-column i.icon3
    width : 120px
    height : 120px
    background : url(../img/img-resources.png) no-repeat -238px 0
    display : inline-block
    background-size : 300%

  .text1
    margin : 20px 0

  ul.social
    padding : 0

  .footer-row
    padding : 20px 20px

  .team-row-column
    padding : 0 20px

  .team-row-column img
    display : inline