@media (max-width : 768px)
  .header
    padding : 40px 0 70px 0

  .line
    top : 83%

  .about-row-column p
    padding : 10px 37px

  .team-row-column
    padding : 0 20px

  ul.social
    padding : 0

  #portfoliolist .portfolio
    width : 50%
    float : left

  .about-row-column i.icon1
    width : 100px
    height : 100px
    background : url(../img/img-resources.png) no-repeat 0 0
    display : inline-block
    background-size : 300%

  .about-row-column i.icon2
    width : 100px
    height : 100px
    background : url(../img/img-resources.png) no-repeat -102px 0
    display : inline-block
    background-size : 300%

  .about-row-column i.icon3
    width : 100px
    height : 100px
    background : url(../img/img-resources.png) no-repeat -201px 0
    display : inline-block
    background-size : 300%

  .about-para h3, .portfolio-top h3, .team-row h3, .contact-row h3
    font-size : 35px