@media (max-width : 480px)
  .header-matter h1
    font-size : 30px
    padding : 0 10px 50px 10px

  .line
    left : 41%
    top : 80.5%

  .about-row-column p
    padding : 10px 37px

  ul.social
    padding : 0

  .nav
    right : 10px

  .contact-row p
    font-size : 20px