footer#footer.footer
    .container
        .row
            .col-md-11.col-md-offset-1
                a(href='index.html')
                    img(src='assets/img/logo.png' alt="foot_logo")
        .row.footer-row
            .col-md-3.col-md-offset-1.footer-row-column
                .text1
                    p 129 West 81st Street
                    small New York, NY 10024
            .col-md-3.footer-row-column
                .text1
                    p
                        a(href='mailto:giddyup@kramer.com') giddyup@kramer.com
                    small +1 212-532-1256
            .col-md-4.footer-row-column
                ul.social
                    li
                        i.fa
                    li
                        i.tw
                    li
                        i.ist
            .clearfix