#myModalBox.modal.fade
    .modal-dialog(style="width: 80%")
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title Project
            .modal-body
                h1.modal-head.text-center Project Title
                .container-fluid
                    .row
                        .col-md-5.col-md-offset-1
                            img.img-modal.img-responsive(src="assets/img/modal-1.png" alt="img-1")
                            img.img-modal.img-responsive(src="assets/img/modal-2.png" alt="img-2")
                        .col-md-5
                            .date-block.offset-block
                                p.header_block Date
                                p.text_block 1st December 2014
                            .category-block.offset-block
                                p.header_block Category
                                p.text_block Web, UI
                            .desc_block.offset-block
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque, blanditiis dicta dolorum et facere fugiat fugit iste itaque magnam maxime molestias nihil nostrum obcaecati perspiciatis quam quia quisquam repudiandae sapiente tempora, ullam unde velit voluptate? Aut eveniet minus nobis quasi quo vitae. Ipsam, sed, sunt. At cum dicta in ipsum obcaecati quis voluptatibus? Asperiores at earum facere fuga modi, natus quae quis unde veniam voluptatem. Ab accusamus ex illo labore perspiciatis quaerat quis sequi tempore? Alias at aut culpa doloremque earum est eum harum hic in ipsa itaque, magnam magni molestiae necessitatibus numquam officia provident rem sapiente temporibus tenetur?
                            a.link(href="#") Visit site
