#team.ourteam
    .container
        .row.team-row
            h3 Team
            .col-md-4.col-md-offset-2.team-row-column
                img.img-responsive.center-block(src='assets/img/person1.png', alt='person1')
                h4
                    a(href='#') Cosmo Kramer
                p
                    | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                ul.social
                    li
                        i.tw
                    li
                        i.ist
            .col-md-4.team-row-column
                img.img-responsive.center-block(src='assets/img/person2.png', alt='person2')
                h4
                    a(href='#') George Constanza
                p
                    | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                ul.social
                    li
                        i.tw
            .clearfix