#portfolio.portfolio
    .container
        .portfolio-top
            h3 Portfolio
        ul#filters.clearfix
            li
                span.filter.active(data-filter='app card icon logo web') All
            li
                span.filter(data-filter='app') Design
            li
                span.filter(data-filter='card') Web
            li
                span.filter(data-filter='icon') Illustration
            li
                span.filter(data-filter='logo') Motion
        #portfoliolist
            .portfolio.app.mix_all(data-cat='app', style='display: inline-block; opacity: 1;')
                .portfolio-wrapper
                    a.b-link-stripe.b-animate-go.thickbox(href='index.html')
                        img(src='assets/img/pic1.jpg')
                        .b-wrapper
                            h2.b-animate.b-from-left.b-delay03
                                img(src='assets/img/icon-eye.png', alt='')
                            p.b-animate.b-from-right.b-delay03
                                | Lorem ipsum dolor sit amet.
                                br
                                span.m_4 Photography
            .portfolio.icon.mix_all(data-cat='icon', style='display: inline-block; opacity: 1;')
                .portfolio-wrapper
                    a.b-link-stripe.b-animate-go.thickbox(href='index.html')
                        img(src='assets/img/pic2.jpg')
                        .b-wrapper
                            h2.b-animate.b-from-left.b-delay03
                                img(src='assets/img/icon-eye.png', alt='')
                            p.b-animate.b-from-right.b-delay03
                                | Lorem ipsum dolor sit amet.
                                br
                                span.m_4 Photography
            .portfolio.card.mix_all(data-cat='card', style='display: inline-block; opacity: 1;')
                .portfolio-wrapper
                    a.b-link-stripe.b-animate-go.thickbox(href='index.html')
                        img(src='assets/img/pic5.jpg')
                        .b-wrapper
                            h2.b-animate.b-from-left.b-delay03
                                img(src='assets/img/icon-eye.png', alt='')
                            p.b-animate.b-from-right.b-delay03
                                | Lorem ipsum dolor sit amet.
                                br
                                span.m_4 Photography
            .portfolio.logo.mix_all(data-cat='logo', style='display: inline-block; opacity: 1;')
                .portfolio-wrapper
                    a.b-link-stripe.b-animate-go.thickbox(href='index.html')
                        img(src='assets/img/pic3.jpg')
                        .b-wrapper
                            h2.b-animate.b-from-left.b-delay03
                                img(src='assets/img/icon-eye.png', alt='')
                            p.b-animate.b-from-right.b-delay03
                                | Lorem ipsum dolor sit amet.
                                br
                                span.m_4 Photography
            .portfolio.card.mix_all(data-cat='card', style='display: inline-block; opacity: 1;')
                .portfolio-wrapper
                    a.b-link-stripe.b-animate-go.thickbox(href='index.html')
                        img(src='assets/img/pic4.jpg')
                        .b-wrapper
                            h2.b-animate.b-from-left.b-delay03
                                img(src='assets/img/icon-eye.png', alt='')
                            p.b-animate.b-from-right.b-delay03
                                | Lorem ipsum dolor sit amet.
                                br
                                span.m_4 Photography
            .portfolio.app.mix_all(data-cat='app', style='display: inline-block; opacity: 1;')
                .portfolio-wrapper
                    a.b-link-stripe.b-animate-go.thickbox(href='index.html')
                        img(src='assets/img/pic6.jpg')
                        .b-wrapper
                            h2.b-animate.b-from-left.b-delay03
                                img(src='assets/img/icon-eye.png', alt='')
                            p.b-animate.b-from-right.b-delay03
                                | Lorem ipsum dolor sit amet.
                                br
                                span.m_4 Photography